<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

__Jeel Patel__

_I am interested in data science because I love to work with data and building visualization from it._

### The code in below cell print factorial of 5 with the help of for loop.

In [1]:
#factorial of 5 with for loop

def factorial():
    f = 1
    for i in range(1, 6):
        f = f * i
    return f

print(factorial())

120

IBM is Awesome.
___
Becoming Data Scientist is my dream.

* Python
* R
* SQL
* Julia

1. Python
2. R
3. SQL
4. Julia

| No. | Language | Year |
|-----|----------|------|
| 01  | Python   | 1991 |
| 02  | R        | 1995 |
| 03  | SQL      | 1976 |